*
!.*
.*_history
.bash_local
.*.log
.*.tmp
.*.cert
.*.cache
.xsession-errors*
.wine
.slocdata
.qt
.pg*
.cache/
.java
.xauth*
.rnd
.steampath
.steampid
.taskrc
.jackdrc
.ihaskell
.history
.kinorc
.esd_auth
.bashrc_*
.Xauthority
.Slic3r
.recently-used
.tidalboot.hss
.pypirc
.viminfo
.wget-hsts
.gtk-bookmarks
.nix-profile
.lesshst
